.main-card {
    position: relative;
	height: 546px;
	width: 100%;
	background: #ffffff;
	border: 1px solid #dfe0eb;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px solid #dfe0eb;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
