.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	h1 {
		width: 70%;
		color: black;
	}
	.right-side {
		width: 30%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
